@model IEnumerable<OlaWakeel.Models.Appointment>

@{
    ViewData["Title"] = "Cancel";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="lnr-graduation-hat icon-gradient bg-mean-fruit"></i>
            </div>
            <div>
                Appointment
            </div>
        </div>
    </div>
</div>


<div class="card mb-3">
    <div class="card-header-tab card-header">
        <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
            <i class="header-icon mr-3 text-muted opacity-6"> </i>Cancel Appointment
        </div>
    </div>
    <div class="card-body">
        <div id="example_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <div class="row">
                <div class="col-sm-12">
                    <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">

                        @*<table class="table">*@
                        <thead>
                            <tr>

                                <th>
                                    Appointment Code
                                </th>
                                <th>
                                    Customer
                                </th>
                                <th>
                                    Lawyer
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.AppoinmentType)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CaseCharges)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Date)
                                </th>
                                <th>
                                    AppointmentStatus
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AppointmentCode)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Customer.FirstName)
                                        @Html.DisplayFor(modelItem => item.Customer.LastName)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Lawyer.FirstName)
                                        @Html.DisplayFor(modelItem => item.Lawyer.LastName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AppoinmentType)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.CaseCharges)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Date)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AppoinmentStatus)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>