@model IEnumerable<OlaWakeel.Models.Appointment>

@{
    ViewData["Title"] = "TodayConfirmAppointments";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="lnr-graduation-hat icon-gradient bg-mean-fruit"></i>
            </div>
            <div>
               Today Confirm Appointments
            </div>
        </div>
    </div>
</div>


<div class="app-main__inner">
    <div class="main-card mb-3 card">
        <div class="card-body">
            <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">

                @*<table class="table">*@
                <thead>
                    <tr>
                        @*<th>
                            @Html.DisplayNameFor(model => model.FirstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LastName)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.City)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Country)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Address)
                        </th>*@
                        <th>
                            @Html.DisplayNameFor(model => model.Date)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.City)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Country)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
