@model IEnumerable<OlaWakeel.Models.Appointment>

@{
    ViewData["Title"] = "TrackAppointment";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="lnr-graduation-hat icon-gradient bg-mean-fruit"></i>
            </div>
            <div>
                Track Appointment
            </div>
        </div>
    </div>
</div>
<div class="main-card mb-3 card">
    <div class="card-body">
        <h5 class="card-title">Track Appointment Here</h5>
        <form method="get" asp-action="TrackAppointment">
            <div class="position-relative form-group">
                <label for="exampleEmail" class="">Search Appointment</label>
                <input name="searchapp" placeholder="Type here..." type="search" value="@ViewData["getAppointmentDetails"]" class="form-control">
                <br />
                <input type="submit" value="Search" class="btn btn-primary"/>    
            </div>
        </form>
    </div>
</div>


<div class="card mb-3">
    <!--<div class="card-header-tab card-header">-->

        @*<br />
            <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                <i class="header-icon mr-3 text-muted opacity-6"> </i>Track the Appointment
            </div>*@
    <!--</div>-->
    <div class="card-body">


        <div class="col-sm-12">
            <table style="width: 100%;" class="table table-hover table-striped table-bordered dataTable dtr-inline listing-datatable" role="grid" aria-describedby="example_info">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.AppointmentCode)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.ScheduleDate)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.AppoinmentType)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Date)
                        </th>

                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.AppointmentCode)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.ScheduleDate)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.AppoinmentType)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>

                            <td>

                                @*<a asp-action="Details" asp-route-id="@item.AppoinmentId">Details</a>*@
                                <a class="mb-2 mr-2 btn-icon btn-icon-only btn-shadow btn-dashed btn btn-outline-success" href="~/Appointments/Details/@item.AppoinmentId" target="_blank"><i class="fas fa-info-circle"></i></a>

                            </td>
                        </tr>
                    }

                </tbody>
                <tfoot>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.AppointmentCode)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.ScheduleDate)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.AppoinmentType)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Date)
                        </th>

                        <th>Action</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

</div>
@*</div>
    </div>*@

@*<script>



        let i = document.querySelectorAll("#example_filter");
        for (let v = 0; v < i.length || i == null; v++) {
            co();
        }
        function co() {
            i = document.querySelectorAll("#example_filter");
            if (i == null) {
                console.log("hello");
                co();
            }
        }


        //console.log(i);
        //i.forEach((s) => {
        //    s.addEventListener("load", () => {
        //        s.parentElement.classList.remove("col-md-6")
        //    })

        //})


    </script>*@