@model OlaWakeel.Models.Appointment

@{
    ViewData["Title"] = "TrackById";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h1>TrackById</h1>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppointmentCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppointmentCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LawyerAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LawyerAddress.LawyerAddressId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseCategory.CaseCategoryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseCharges)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseCharges)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScheduleDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScheduleDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppoinmentType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppoinmentType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppoinmentStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppoinmentStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustomerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lawyer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lawyer.LawyerId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AppoinmentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
