@model IEnumerable<OlaWakeel.Models.Lawyer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div>
    <div>
        <div>
            <div class="app-page-title">
                <div class="page-title-wrapper">
                    <div class="page-title-heading">
                        <div class="page-title-icon">
                            <i class="pe-7s-cash icon-gradient bg-mean-fruit"></i>
                        </div>
                        <div>
                            Lawyers
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-lg-6">
                    <div class="mb-3 card">
                        <div class="card-header-tab card-header">
                            <div class="card-header-title font-size-lg text-capitalize font-weight-normal">Lawyers</div>
                        </div>
                        <div class="p-0 d-block card-footer">
                            <div class="grid-menu grid-menu-2col">
                                <div class="no-gutters row">
                                    <div class="p-2 col-sm-6">
                                        <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-success asp-controller="Lawyer" asp-action="TotalLawyers" type="button">
                                            <a href="~/Lawyer/LawyersNotApproved">  <i class="lnr-menu text-success opacity-7 btn-icon-wrapper mb-2"> </i>New Lawyer</a>
                                        </button>
                                    </div>
                                    <div class="p-2 col-sm-6">
                                        <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-warning asp-controller="Appointments" asp-action="TotalNewAppointment">
                                            <a href="/Lawyer/LawyerWithAppoint">
                                                <i class="lnr-hourglass text-warning opacity-7 btn-icon-wrapper mb-2"> </i>Lawyers
                                            </a>
                                        </button>
                                    </div>
                                    <div class="p-2 col-sm-6">
                                        <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-info" asp-controller="Appointments" asp-action="Track">
                                            <a href="~/Lawyer/TrackLawyers">
                                                <i class="lnr-book text-info opacity-7 btn-icon-wrapper mb-2"> </i>Track Lawyer
                                            </a>
                                        </button>
                                    </div>
                                    <div class="p-2 col-sm-6">
                                        <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-alternate">
                                            <a href="/Lawyer/LawyerWithoutAppoint">
                                                <i class="lnr-gift text-alternate opacity-7 btn-icon-wrapper mb-2"> </i>Not an Lawyer yet!
                                            </a>
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-lg-6">
                    <div class="mb-3 card">
                        <div class="card-header-tab card-header">
                            <div class="card-header-title font-size-lg text-capitalize font-weight-normal">Pending Lawyer Approvals</div>
                        </div>

                        <div class="p-0 d-block card-footer">
                            <div class="grid-menu grid-menu-2col">

                                <div class="no-gutters row  padbox">
                                    <div class="p-2 col-sm-6">
                                        <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-success">
                                            <i class="lnr-menu text-success opacity-7 btn-icon-wrapper mb-2"> </i>Need Approvals
                                        </button>
                                    </div>
                                    <div class="p-2 col-sm-6">
                                        <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-warning">
                                            <i class="lnr-hourglass text-warning opacity-7 btn-icon-wrapper mb-2"> </i>Approved Lawyers
                                        </button>
                                    </div>
                                    <div class="p-2 col-sm-6">
                                        <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-info">
                                            <a href="~/Lawyer/Cancel"> <i class="lnr-book text-info opacity-7 btn-icon-wrapper mb-2"> </i>Cancel Lawyers </a>
                                        </button>
                                    </div>
                                    <div class="p-2 col-sm-6">
                                        <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-alternate">
                                            <i class="lnr-gift text-alternate opacity-7 btn-icon-wrapper mb-2"> </i>Verified Lawyers
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <div class="row">
                <div class="col-lg-12 col-xl-3">
                    <div class="main-card mb-3 card">
                        <div class="grid-menu grid-menu-2col">
                            <div class="no-gutters row">
                                <!--New Appointment-->
                                <div class="col-sm-12">
                                    <div class="widget-chart widget-chart-hover">
                                        <a href="/Lawyer/SearchLawyers">
                                            <br>
                                            <div class="icon-wrapper rounded-circle">
                                                <br>
                                                <div class="icon-wrapper-bg bg-primary"></div>
                                                <i class="lnr-magnifier  icon-gradient bg-happy-fisher"></i>
                                            </div>
                                            <div class="widget-title opacity-10 text-uppercase">
                                                <br>
                                                <i class="metismenu-icon"></i> Search Lawyers
                                            </div>

                                            <div class="widget-numbers align-items-center text-center mt-2 fsize-4 mb-0 w-100">
                                                <div class="widget-chart-flex ">
                                                    <div class="align-items-center " style=" margin-left: 29%; ">

                                                        <small class="opacity-5 text-dark pr-1 "></small>

                                                        <small class="opacity-5 pl-1"></small>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Approved Appointment Demo's -->

                <div class="col-lg-12 col-xl-3">
                    <div class="main-card mb-3 card">
                        <div class="grid-menu grid-menu-2col">
                            <div class="no-gutters row">
                                <div class="col-sm-12">
                                    <div class="widget-chart widget-chart-hover">
                                        <a href="/Lawyer/GetAllLawyers">

                                            <br>
                                            <div class="icon-wrapper rounded-circle">
                                                <br>
                                                <div class="icon-wrapper-bg bg-arielle-smile"></div>
                                                <i class="lnr-user  icon-gradient bg-happy-fisher"></i>
                                            </div>
                                            <div class="widget-title opacity-10 text-uppercase">
                                                <br>
                                                <i class="metismenu-icon pr-1"></i> All Lawyers
                                            </div>
                                            <div class="widget-numbers align-items-center text-center mt-2 fsize-4 mb-0 w-100">
                                                <div class="widget-chart-flex ">
                                                    <div class="align-items-center " style=" margin-left: 29%; ">

                                                        <small class="opacity-5 text-warning pr-1 ">+</small>
                                                        @if (Model != null)
                                                        {
                                                            <span> @Model.Where(a => a.OnlineStatus == "Online" || a.OnlineStatus == "Offline").Count() </span>
                                                        }

                                                        <small class="opacity-5 pl-1"></small>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-xl-3">
                    <div class="main-card mb-3 card">
                        <div class="grid-menu grid-menu-2col">
                            <div class="no-gutters row">
                                <!--New Appointment-->
                                <div class="col-sm-12">
                                    <div class="widget-chart widget-chart-hover">
                                        <a href="/Lawyer/Toplawyer">

                                            <br>
                                            <div class="icon-wrapper rounded-circle">
                                                <br>
                                                <div class="icon-wrapper-bg bg-success"></div>
                                                <i class="lnr-smile icon-gradient bg-happy-fisher"></i>
                                            </div>
                                            <div class="widget-title opacity-10 text-uppercase">
                                                <br>
                                                <i class="metismenu-icon bg-danger"></i> Top Rated Lawyer

                                            </div>
                                            <div class="widget-numbers align-items-center text-center mt-2 fsize-4 mb-0 w-100">
                                                <div class="widget-chart-flex ">
                                                    <div class="align-items-center " style=" margin-left: 29%; ">

                                                        <small class="opacity-5 text-danger pr-1 ">+</small>
                                                        @if (Model != null)
                                                        {
                                                            <span> @Model.Where(a => a.OnlineStatus == "Online").Count() </span>
                                                        }
                                                        <small class="opacity-5 pl-1"></small>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-12 col-xl-3">
                    <div class="main-card mb-3 card">
                        <div class="grid-menu grid-menu-2col">
                            <div class="no-gutters row">
                                <!--New Appointment-->
                                <div class="col-sm-12">
                                    <div class="widget-chart widget-chart-hover">
                                        <a href="/Lawyer/BlockedLawyer">

                                            <br>
                                            <div class="icon-wrapper rounded-circle">
                                                <br>
                                                <div class="icon-wrapper-bg bg-danger"></div>
                                                <i class="fa-user-times icon-gradient bg-happy-fisher"></i>
                                            </div>
                                            <div class="widget-title opacity-10 text-uppercase">
                                                <br>
                                                <i class="metismenu-icon"></i>Blocked Lawyers

                                            </div>
                                            <div class="widget-numbers align-items-center text-center mt-2 fsize-4 mb-0 w-100">
                                                <div class="widget-chart-flex ">
                                                    <div class="align-items-center " style=" margin-left: 29%; ">

                                                        <small class="opacity-5 text-warning pr-1 ">+</small>
                                                        @if (Model != null)
                                                        {
                                                            <span> @Model.Where(a => a.Status == false).Count() </span>
                                                        }
                                                        <small class="opacity-5 pl-1"></small>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-12 col-xl-6">
                    <div class="card mb-3 widget-content bg-night-fade">
                        <div class="widget-content-wrapper text-white">
                            <div class="widget-content-left">
                                <div class="widget-heading">
                                    <a href="/Lawyer/ActiveLawyer">Online Lawyers
                                </div>
                                <div class="widget-subheading">We are available for solving your queries or helping you.<br />Feel free to contact us</div>
                            </div>
                            <div class="widget-content-right">
                                <div class="widget-numbers text-white">
                                    @if (Model != null)
                                    {
                                        <span style="margin-left:117px">   @Model.Where(a => a.OnlineStatus == "Online").Count() </span>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-xl-6">
                    <div class="card mb-3 widget-content bg-arielle-smile">
                        <div class="widget-content-wrapper text-white">
                            <div class="widget-content-left">
                                <div class="widget-heading"><a href="/Lawyer/ActiveLawyer"> Offline Lawyers</div>
                                <div class="widget-subheading">Sorry we can't help you.<br />Out of Office</div>
                            </div>
                            <div class="widget-content-right">
                                <div class="widget-numbers text-white">
                                    @if (Model != null)
                                    {
                                        <span style="margin-left:334px"> @Model.Where(a => a.OnlineStatus == "Offline").Count() </span>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
