@model IEnumerable<OlaWakeel.Models.Lawyer>

@{
    ViewData["Title"] = "LawyerWithAppoint";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@{int i = 1; }
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="lnr-user icon-gradient bg-ripe-malin"> </i>
            </div>
            <div>
                Lawyer
            </div>
        </div>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header-tab card-header">
        <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
            Lawyer Who Done Appointments
        </div>
        <div class="btn-actions-pane-right actions-icon-btn">

        </div>
    </div>
    <div class="card-body">
        <div id="example_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <div class="row">
                <div class="col-sm-12">
                    <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered dataTable dtr-inline" role="grid" aria-describedby="example_info">
                        <thead>
                            <tr>
                                <th>Sr#</th>
                                <th>Name</th>
                                <th>UserName</th>
                                <th>PhoneNumber</th>
                                <th>Email</th>
                                <th>City</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>@i</td>
                                <td>@item.FirstName  @item.LastName</td>
                                <td>@item.AppUser.UserName</td>
                                <td>@item.AppUser.PhoneNumber</td>
                                <td>@item.AppUser.Email</td>
                                <td>@item.City</td>
                                <td>
                                    @if (item.Status == true)
                                    {<div class="badge col-green">Active</div> }
                                    else
                                    { <div class="badge col-red">Deactive</div>}
                                </td>
                                <td>
                                    <a class="mb-2 mr-2 btn-icon btn-icon-only btn-shadow btn-dashed btn btn-outline-info" href="~/Lawyer/Detail/@item.LawyerId" target="_blank"><i class="lnr-user"></i></a>
                                </td>
                            </tr>
                                i++;
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Sr#</th>
                                <th>Name</th>
                                <th>UserName</th>
                                <th>PhoneNumber</th>
                                <th>Email</th>
                                <th>City</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>




@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirbaseToken)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cnic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Biography)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VirtualChargesPkr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VirtualChargesUs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalExperience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OnlineStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfilePic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CnicFrontPic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CnicBackPic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecentDegreePic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfileVerified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfileCompleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contact)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirbaseToken)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cnic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Biography)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VirtualChargesPkr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VirtualChargesUs)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalExperience)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OnlineStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProfilePic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CnicFrontPic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CnicBackPic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RecentDegreePic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AppUser.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProfileVerified)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProfileCompleted)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.LawyerId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.LawyerId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.LawyerId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>*@
